<!-- <div>{{ appState$ | async | json }}</div> -->
<div class="container-x1">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage Servers</h2>
          </div>
          <div class="col-sm-6">
            <button (click)="printReport()" type="button" class="btn btn-primary">Print Report</button>
            <a href="#addServerModal" class="btn btn-success" data-toggle="modal">
              <i class="material-icons">&#xE147;</i>
              <span>New Server</span>
            </a>
            <span>
              <select (ngModelChange)="filterServers($event)" ngModel="ALL" name="status" class="btn btn-info" style="height: 32.91px">
                <option value="ALL">ALL</option>
                <option value="SERVER_UP">SERVER_UP</option>
                <option value="SERVER_DOWN">SERVER_DOWN</option>
              </select>
            </span>
          </div>
        </div>
      </div> <br>
      <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
        <div class="loading_spinner">
          <ng-container *ngSwitchCase="DataState.LOADING_STATE">
            <div class="col-md-12 single-note-item text-center">
              <div class="spinner-border text-info" role="status"></div>
            </div>
          </ng-container>
        </div>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
          <table class="table table-stripped table-hover" id="servers">
            <thead>
              <tr>
                <th>Image</th>
                <th>IP Address</th>
                <th>Name</th>
                <th>Memory</th>
                <th>Type</th>
                <th>Status</th>
                <th>Ping</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let server of appState.appData?.data.servers; let i = index">
              <tr>
                <td><img [src]="server.imageUrl" [alt]="server.name" width="40" height="40"></td>
                <td>{{ server.ipAddress }}</td>
                <td>{{ server.name }}</td>
                <td>{{ server.memory }}</td>
                <td>{{ server.type }}</td>
                <td>
                  <span class="badge" [ngClass]="[server.status === Status.SERVER_UP ? ' badge-success' : ' badge-danger']">
                    {{ server.status === Status.SERVER_UP ? 'SERVER UP' : 'SERVER DOWN' }}
                  </span>
                </td>
                <td>
                  <a (click)="pingServer(server.ipAddress)" style="cursor: pointer;">
                    <i *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress" class="material-icons" title="Ping server">&#xe328;</i>
                    <i *ngIf="(filterStatus$ | async) === server.ipAddress" class="fa fa-spinner fa-spin" style="font-size: 24px;"></i>
                  </a>
                </td>
                <td>
                  <a class="delete" (click)="deleteServer(server)" data-toggle="modal" style="cursor: pointer;">
                    <i class="material-icons" data-toggle="modal" title="Delete">&#xE872;</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.ERROR_STATE">
          <div class="alert-danger">
            {{ appState.error }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!-- Add server Modal HTML -->
<div id="addServerModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
        <div class="modal-header">
          <h4 class="modal-title">Add Server</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>IP</label>
            <input type="text" ngModel name="ipAddress" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" ngModel name="name" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Memory</label>
                <input type="text" ngModel name="memory" class="form-control" required>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Type</label>
                <input type="text" ngModel name="type" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Status</label>
            <select name="status" ngModel="SERVER_DOWN" class="form-control" name="status" required>
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_UP">SERVER DOWN</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" id="closeModal" data-dismiss="modal">
            Cancel
          </button>
          <button type="submit" [disabled]="serverForm.invalid || (isLoading$ | async)" class="btn btn-success">
            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="isLoading$ | async">Saving...</span>
            <span *ngIf="!(isLoading$ | async)">Add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<notifier-container></notifier-container>