:host {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.table-title .row{
    padding: 15px;
    background-color: #255373;
}

.row h2 {
    color: white;
}

#servers, .alert-danger {
    margin: 0 15px 15px 15px;
}

div[class^=col] select, div[class^=col] button, div[class^=col] a{
    min-height: 100%;
    margin: 0 10px 0 10px;
}

.table-responsive{
    overflow: hidden;
}

.loading_spinner{
    margin-bottom: 15px;
}