@import "~angular-notifier/styles";

body{
    background-color: #edf1f5;
    margin-top: 20px;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: solid 0 transparent;
    border-radius: 0;
}

.card{
    margin-bottom: 30px;
}